*{
  text-decoration: none;
  margin: 0px;
  padding: 0px;  
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800px;
    float: left;
    font-family: comic sans ms;
    color: rgb(7, 7, 74);
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border: 1px solid rgb(7, 7, 74);
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: rgb(168, 168, 37);
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800px;
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(168, 168, 37);  
    width: 100%;
    line-height: 50px;
}

a.tbl-unggu{
    background:  rgb(141, 124, 37);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

p{
    margin-top: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

a.tbl-biru{
    background: rgb(30, 30, 126);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink{
    background:  rgb(141, 124, 37);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.tengah {
    text-align: center;
    width: 100%;
}

.destination-list {
    width: 100px;
    position: relative;
    display: inline-grid;
    flex-wrap: wrap-reverse;
}

.kartu-wisata {
    width: 20%;
    margin: 0;
}

.kartu-wisata.img {
    width: 100px;
    border-radius: 50%;
    display: block; 
}

.kartu-wisata p {
    font-family: 'comic sans ms';
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color:  rgb(168, 168, 37);
}



